.l-affiliate {
  background-color: $pl-grey;
  padding: 135px 0 100px;

  @include mq('tablet') {
    padding: 50px 0 40px;
  }

  .u-subtitle {
    margin-bottom: 45px;
    text-align: left;
    color: $color-black;
    font-size: 48px;

    @include mq('tablet') {
      text-align: center;
    }
  }

  .c-listline {
    max-width: 425px;
  }
}
