.l-change {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: $media-card-shadow;
  background-color: $color-white;
  padding: 25px 25px 45px;
  max-width: 820px;
  text-align: center;
  color: $grey;

  &__content {
    margin: 0 auto;
    max-width: 560px;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 35px;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__fast {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    svg {
      margin-right: 5px;
      fill: $grey;
    }

    &.is-active {
      svg {
        fill: $blue;
      }

      span {
        color: $blue;
      }

      .is-info {
        span {
          background-color: $input-border;
        }
      }
    }

    .is-ui-checkbox {
      margin-right: 12px;
    }

    img {
      margin-right: 5px;
    }

    .is-info {
      display: inline-block;
      position: relative;

      span {
        display: block;
        position: absolute;
        top: -12px;
        right: -20px;
        transition: all 0.3s ease;
        border-radius: 50%;
        background-color: $light-grey;
        width: 14px;
        height: 14px;
        line-height: 14px;
        color: $color-white;
        font-size: 14px;
      }

      &__submenu {
        position: absolute;
        top: 30px;
        right: -35px;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
        background-color: $input-border;
        padding: 10px 15px;
        width: 275px;
        color: $color-white;

        p {
          text-align: left;
          line-height: 140%;
          font-size: 12px;
        }
      }

      &:hover {

        .is-info__submenu {
          top: 20px;
          visibility: visible;
          opacity: 1;
        }

        span {
          background-color: $input-border;
        }
      }
    }
  }

  .c-exchange {
    margin: 0 10px;
  }

  .is-ui-checkbox {
    position: relative;
    transition: all 0.2s ease;
    outline: none;
    border-radius: 100px;
    background-color: $color-grey;
    cursor: pointer;
    width: 26px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:after {
      position: absolute;
      top: 2px;
      left: 2px;
      transition: all 0.2s ease;
      border-radius: 100%;
      background-color: $color-white;
      width: 12px;
      height: 12px;
      content: '';
    }

    &:checked {
      background-color: $blue;

      &:after {
        transform: translateX(10px);
      }
    }
  }

  @include mq('phone-large') {
    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      margin-bottom: 20px;
      width: 100%;
    }

    &__slider {
      .is-arrow-prev {
        position: relative;
        left: -15px;
      }

      .is-arrow-next {
        position: relative;
        right: -15px;
      }
    }
  }
}
