.l-contact {
  position: relative;
  background-color: $cloud;
  padding: 130px 0;

  &__content {
    position: relative;
    line-height: 150%;
    font-size: 20px;

    @include mq('tablet') {
      margin-bottom: 50px;
    }
  }

  &__text {
    position: relative;
    top: 100px;
    left: -50px;
    text-align: left;

    @include mq('tablet-medium') {
      top: 0;
      left: 0;
    }
  }

  .u-subtitle {
    margin-bottom: 15px;
    text-align: left;
    line-height: 130%;
    font-size: 48px;

    @include mq('tablet-medium') {
      font-size: 38px;
    }

    @include mq('phone-large') {
      font-size: 28px;
    }
  }

  &__man {
    position: relative;
    float: left;

    @include mq('tablet-medium') {
      max-width: 180px;
    }
  }

  &__plane {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    @include mq('tablet-medium') {
      max-width: 150px;
    }

    @include mq('tablet') {
      left: 70%;
    }
  }

  .c-form {
    max-width: 320px;

    @include mq('tablet') {
      margin: 0 auto;
    }
  }
}
