.l-copy {
  background-color: $pl-grey;
  padding: 135px 0 50px;

  &__ad {
    position: relative;
    background-color: $blue;
    padding: 150px 0 70px;
    text-align: center;
    color: $color-white;

    p {
      line-height: 30px;
      letter-spacing: 0.15px;
      font-size: 20px;
    }

    .is-info {
      position: absolute;
      top: 0;
      white-space: nowrap;
    }
  }

  &__image {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 20px 40px $btn-shadow;
    background-color: $color-white;
    width: 240px;
    height: 240px;
  }

  &__row {
    margin: 100px 0;
  }

  .u-btn {
    margin: 45px auto 0;
    border: 2px solid $color-white;
    background-color: transparent;
    letter-spacing: 0.75px;
    color: $color-white;
    font-size: 18px;
  }

  .u-subtitle {
    position: relative;
    margin: 0 auto 20px;
    max-width: 55%;
    color: $color-white;
    font-size: 48px;

    @include mq('tablet-medium') {
      font-size: 38px;
    }

    @include mq('tablet') {
      margin: 0 auto 20px;
      max-width: 70%;
      font-size: 28px;
    }


  }

  .u-pretitle {
    display: flex;
    align-items: center;

    @include mq('phone-large') {
      align-items: flex-start;
    }
  }

  .u-button {
    margin-left: 15px;

    @include mq('tablet-medium') {
      margin-left: 0;

      &.is-info {
        padding: 7px 15px;
        font-size: 12px;
      }
    }

    @include mq('tablet-medium') {
      &.is-info {
        right: -10%;
      }
    }
    @include mq('phone-large') {
      &.is-info {
        right: -10%;
      }
    }
  }
}
