.l-create-account {
  background-color: $pl-grey;
  padding: 140px 0 120px;

  .u-subtitle {
    margin-bottom: 35px;
    font-size: 40px;
  }

  .u-btn {
    margin: 0 auto;
    background-color: $green;
    padding: 19px 0;
  }

  @include mq('phone-large') {
    padding: 70px 0 60px;

    .u-subtitle {
      font-size: 34px;
    }
  }
}
