.l-footer {
  background-color: $footer;
  padding: 130px 0;
  line-height: 150%;
  color: $color-white;
  font-size: 16px;
  font-weight: bold;

  &__col {
    margin-bottom: 30px;
  }

  &__ul {
    margin-left: 100px;

    @include mq('tablet-medium') {
      margin-left: 0;
    }
  }

  &__li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    @include mq('tablet') {
      justify-content: center;
    }

    img {
      padding-right: 15px;
    }
  }

  @include mq('tablet') {
    .is-logo {
      text-align: center;
    }
  }
}
