.l-how {
  position: relative;
  z-index: 2;
  background-color: $blue;
  padding-bottom: 200px;
  overflow: hidden;

  &__features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .u-subtitle {
    position: relative;
    z-index: 2;
    padding-top: 75px;
    padding-bottom: 100px;
    color: $color-white;

    @include mq('tablet') {
      padding-top: 35px;
      padding-bottom: 60px;
    }
  }

  @include mq('tablet') {
    padding-bottom: 50px;

    .c-info__blocks {
      margin-bottom: 50px;
    }
  }
}
