.l-list-exchange {
  padding: 130px 0;

  .u-subtitle {
    margin-bottom: 65px;
    font-size: 48px;
  }

  .u-btn {
    margin: 70px auto 0;
    border: 2px solid $blue;
    box-shadow: none;
    background-color: $color-white;
    color: $blue;
  }

  &__flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
  }

  &__col {
    margin: 0 15px 15px;

    li {
      border-bottom: 1px solid $light-grey;
      line-height: 1.5;
      font-size: 22px;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  @include mq('phone-large') {
    padding: 40px 0;

    .u-subtitle {
      margin-bottom: 40px;
    }
  }
}
