.l-main-stock {
  position: relative;
  background-image: url('../images/exchange-main.svg');
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 110px;
  min-height: 585px;
  color: $color-white;
  font-family: Gilroy;

  @include mq('desktop-wide') {
    padding-bottom: 60px;
  }

  @include mq('tablet-medium') {
    background-color: $color-white;
    background-image: none;
    color: $color-black;
  }

  @include mq('tablet-medium') {
    padding-bottom: 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $bg-blue;
    height: 585px;
    content: '';
  }

  &__content {
    margin-top: 105px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    text-align: center;

    @include mq('tablet-medium') {
      margin-top: 50px;
    }

    @include mq('tablet') {
      margin-top: 25px;
    }

    p {
      margin-bottom: 25px;
      text-align: center;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: $color-white;
      font-size: 20px;

      @include mq('desktop-wide') {
        color: $color-black;
      }

      @include mq('phone') {
        line-height: 24px;
        font-size: 16px;
      }
    }
  }

  &__features {
    margin-top: 65px;
    margin-bottom: 105px;

    @include mq('desktop-wide') {
      margin-bottom: 60px;
    }

    @include mq('desktop') {
      margin: 65px auto 0;
      max-width: 750px;
    }

    @include mq('tablet') {
      margin-top: 40px;
    }

    &-item {

      @include mq('desktop') {
        margin-bottom: 30px;
      }

      @include mq('phablet') {
        margin-bottom: 15px;
      }
    }
  }

  &__graphics {
    margin-bottom: 50px;

    @include mq('desktop') {
      margin: 0 auto 20px;
      max-width: 750px;
    }

    @include mq('tablet') {
      margin-bottom: 0;
    }

    &-item {

      @include mq('desktop-wide') {
        margin-bottom: 30px;
      }

      @include mq('phablet') {
        margin-bottom: 15px;
      }
    }
  }

  .u-title {
    margin-bottom: 25px;
    line-height: 58px;
    color: $color-white;
    font-size: 48px;

    @include mq('tablet-medium') {
      color: $color-black;
    }

    @include mq('tablet') {
      line-height: 40px;
      font-size: 30px;
    }

    @include mq('phone') {
      line-height: 34px;
      font-size: 26px;
    }
  }

  .u-btn {
    margin: 0 auto;
    background-color: $green;

    @include mq('phablet') {
      margin-top: 20px;
    }
  }
}
