.l-main {
  display: flex;
  align-items: center;
  padding: 55px 0;
  height: calc(100vh - 89px);
  min-height: 550px;
  overflow: hidden;

  @include mq('phone-large') {
    height: auto;
    min-height: auto;
  }

  .u-title {
    margin-bottom: 50px;
  }

  &__img {
    position: relative;
    right: -50px;
  }

  @include mq('tablet') {
    &__content {
      order: 1;
      margin-bottom: 50px;
      text-align: center;
    }

    .u-title {
      margin-bottom: 30px;
    }

    .u-btn {
      margin: 0 auto;
    }

    &__img {
      right: 0;
      order: 2;
    }
  }
}
