.l-main-benefits {
  background-color: $gray;
  padding: 90px 0;

  .u-subtitle {
    margin-bottom: 35px;
    font-size: 48px;
  }

  .u-pretitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.5;
    letter-spacing: 0.15px;
    font-size: 20px;
  }

  .u-col {
    margin-bottom: 15px;
  }

  @include mq('phone-large') {
    padding: 40px 0;

    .u-col {
      text-align: center;
    }
  }
}
