.l-media {
  background-color: $pl-grey;
  padding: 50px 0 130px;
  overflow: hidden;

  .u-subtitle {
    margin-bottom: 35px;
    color: $color-black;
    font-size: 48px;
  }

  .slick-track {
    overflow: visible !important;
  }

  .slick-list.draggable {
    overflow: visible !important;
  }

  .slick-slide {
    position: relative;
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
    filter: blur(5px);
  }

  .slick-slide.slick-current.slick-active {
    transform: scale(1);
    filter: blur(0);
  }

  &__container {
    margin: 0 auto;
    width: 714px;

    @include mq('tablet-medium') {
      width: 420px;
    }

    @include mq('phablet') {
      width: 300px;
    }
  }
}
