.l-members {
  background-color: $pl-grey;
  padding: 0 0 130px;

  @include mq('tablet') {
    padding: 50px 0;
  }

  .u-subtitle {
    margin-bottom: 50px;

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  .c-rowtitle {
    padding: 30px 0;
  }

  .u-row {
    margin-bottom: 50px;
  }

  .u-btn {
    margin: 0 auto;
  }
}
