.l-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  background-color: $modal-container;
  height: 100%;
  overflow-y: auto;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    top: 33px;
    right: 21px;
    fill: $color-white;
  }

  .c-modal {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;

    &.is-active {
      transform: translateX(-50%) scale(1);
      visibility: visible;
      opacity: 1;
    }

    &__menu {
      padding: 0;
      text-align: center;
    }
  }

  .c-menu__ul {
    display: block;
    margin-bottom: 50px;
  }

  .c-menu__item {
    display: block;
    margin-right: 0;
    padding: 10px 0;
    color: $color-white;
  }

  .c-menu__login {
    display: block;
    margin: 0;
    color: $color-white;
  }
}

