.l-platform {
  background-color: $pl-grey;
  padding: 130px 0 0;
  overflow: hidden;

  .u-subtitle {
    margin-bottom: 300px;
    color: $color-black;
    font-size: 48px;

    @include mq('tablet') {
      margin-bottom: 150px;
      font-size: 38px;
    }

    @include mq('phone-large') {
      margin-bottom: 70px;
      font-size: 28px;
    }
  }

  .c-plblock {
    margin-bottom: 250px;
    max-width: 800px;

    @include mq('tablet') {
      margin-bottom: 150px;
    }

    @include mq('phone-large') {
      margin-bottom: 100px;
    }

    @include mq('phone-wide') {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq('tablet') {
    padding: 50px 0;
  }
}
