.l-platform-features {
  padding: 110px 0;

  .u-subtitle {
    max-width: 460px;
    text-align: left;
    font-size: 48px;
  }

  &__row {
    align-items: stretch;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 5px;
    box-shadow: $media-card-shadow;
    padding: 50px;
    height: 100%;
    text-align: center;

    span {
      margin-top: 35px;
      text-align: center;
      line-height: 1.5;
      font-size: 20px;
      font-weight: bold;
    }
  }

  @include mq('tablet-medium') {
    .u-subtitle {
      font-size: 34px;
    }

    &__box {
      padding: 15px;
    }
  }

  @include mq('phone-large') {
    padding: 60px 0;

    .u-subtitle {
      text-align: center;
    }
  }
}
