.l-questions {
  background-color: $cloud;
  background-image: url('../images/question-section.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 0 60px;
  text-align: center;

  .u-subtitle {
    margin-bottom: 35px;
    font-size: 48px;
  }

  p {
    margin: 0 auto;
    max-width: 430px;
    font-size: 20px;
  }

  .u-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto 0;

    img {
      margin-right: 15px;
    }
  }

  @include mq('phone-large') {
    background-position: inherit;
    padding: 40px 0;
  }
}
