.l-start {
  position: relative;
  padding: 80px 15px;

  @include mq('tablet') {
    padding: 50px 15px;
  }

  .c-tab {
    margin: 35px auto;
    max-width: 720px;
  }

  .u-btn {
    margin: 0 auto 40px;
  }
}
