.l-swap {
  background-color: $swap;
  background-image: url('../images/swap.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 585px;
  color: $color-white;
  font-family: Gilroy;

  .u-title {
    margin-bottom: 30px;
    color: $color-white;
    font-size: 48px;
  }

  &__content {
    position: relative;
    top: 110px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    text-align: center;

    p {
      line-height: 1.5;
      letter-spacing: 0.15px;
      font-size: 20px;
    }
  }

  &__calculation {
    position: relative;
    top: 200px;
  }

  @include mq('tablet') {
    background-color: $color-white;
    background-image: none;
    color: $color-black;

    .u-title {
      color: $color-black;
    }

    &__content {
      top: 0;
      margin: 40px 0;
      max-width: none;
    }

    &__calculation {
      top: 0;
    }
  }
}
