.l-trading-terminal {
  padding-top: 110px;
  padding-bottom: 185px;

  @include mq('desktop-wide') {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @include mq('tablet-medium') {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  &__description {
    display: flex;
    margin-bottom: 115px;

    @include mq('desktop-wide') {
      margin-bottom: 70px;
    }

    @include mq('phone-medium') {
      flex-direction: column;
    }

    img {
      margin-right: 107px;

      @include mq('desktop-wide') {
        margin-right: 70px;
        width: 150px;
        height: 150px;
      }

      @include mq('tablet') {
        margin-right: 30px;
      }

      @include mq('phablet') {
        margin-right: 15px;
        width: 100px;
        height: 100px;
      }

      @include mq('phone-medium') {
        margin: 0 auto 15px;
      }
    }
  }

  &__features {
    display: flex;
    align-items: center;
    margin-right: 85px;

    @include mq('tablet-medium') {
      flex-direction: column;
      margin-right: 0;
    }

    &-info {

      @include mq('tablet-medium') {
        max-width: 360px;
      }

      h4 {
        margin-bottom: 35px;
        margin-left: 43px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: $color-black;
        font-size: 20px;

        @include mq('tablet-medium') {
          margin-bottom: 15px;
          margin-left: 0;
          text-align: center;
        }
      }
    }

    img {
      margin-right: 63px;

      @include mq('desktop') {
        max-width: 500px;
      }

      @include mq('tablet-medium') {
        margin: 0 auto 20px;
      }

      @include mq('phablet') {
        max-width: 100%;
      }
    }
  }

  &__info {
    max-width: 650px;

    &-text {
      line-height: 30px;
      letter-spacing: 0.15px;
      color: $color-black;
      font-size: 20px;

      @include mq('tablet') {
        line-height: 24px;
        font-size: 16px;
      }
    }
  }

  .u-title {
    padding-bottom: 35px;
    line-height: 59px;
    font-size: 48px;

    @include mq('tablet') {
      line-height: 40px;
      font-size: 30px;
    }

    @include mq('phablet') {
      padding-bottom: 10px;
    }

    @include mq('phone') {
      line-height: 34px;
      font-size: 26px;
    }
  }

  .u-btn {
    margin-left: 43px;

    @include mq('tablet-medium') {
      margin: 0 auto;
    }
  }
}
