.l-trading-volume {
  position: relative;
  background-color: $blue;
  background-image: url('../images/trading-volume-wave.svg');
  background-position: bottom;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
  color: $color-white;

  &__time {
    display: block;
    margin-bottom: 25px;
    font-size: 16px;
  }

  &__cash {
    line-height: 1.2;
    font-size: 48px;
    font-weight: bold;
  }

  .u-col {
    margin-bottom: 20px;
    border-right: 1px solid $color-white;
    padding-bottom: 20px;

    &:last-child {
      border-right: 0;
    }
  }

  .u-subtitle {
    margin-bottom: 70px;
    color: $color-white;
    font-size: 48px;
  }

  @include mq('desktop') {

    &__cash {
      font-size: 30px;
    }
  }

  @include mq('phone-large') {

    .u-col {
      border-right: 0;
      border-bottom: 1px solid $color-white;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
