.l-video {
  padding: 130px 0;
  text-align: center;

  .u-subtitle {
    margin-bottom: 80px;
    font-size: 48px;
  }

  iframe {
    width: 640px;
    height: 360px;
  }

  @include mq('tablet-medium') {

    iframe {
      width: 100%;
      height: 400px;
    }
  }

  @include mq('phone-large') {
    padding: 40px 0;

    .u-subtitle {
      margin-bottom: 40px;
    }

    iframe {
      height: 250px;
    }
  }
}
