.l-why {
  position: relative;
  padding-bottom: 150px;
  overflow: hidden;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
    max-width: 150px;
    text-align: center;
  }

  &__img {
    position: relative;
    margin-bottom: 20px;

    svg {
      position: relative;
      max-width: 100%;
    }

    .is-solid {
      position: relative;
      z-index: 3;
    }

    .is-dashed {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .is-border {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 2;

      .is-dash {
        position: relative;
        width: 49px;
        height: 48px;
        overflow: hidden;

        & > div {
          display: inline-block;
          position: absolute;
          opacity: 0;
          background-color: $color-white;
        }

        &__top {
          top: 0;
          left: 0;
          width: 100%;
          height: 8px;
        }

        &__left {
          bottom: 0;
          left: 0;
          width: 8px;
          height: 100%;
        }

        &__right {
          right: 0;
          width: 8px;
          height: 33px;
        }

        &__bottom {
          right: 0;
          bottom: 0;
          width: 100%;
          height: 8px;
        }
      }
    }

  }

  &__text {
    font-weight: 500;

    p {
      line-height: 26px;
    }
  }

  .u-subtitle {
    margin-bottom: 80px;
  }

  .u-btn {
    margin: 40px auto 0;
    background-color: $color-white;
    color: $blue;
  }

  @include mq('tablet') {
    background-size: contain;
    padding-bottom: 25px;
  }

  .is-perspective {
    perspective: 70px;
    transform-style: preserve-3d;
  }

  &__wave {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 100%;
      height: auto;

      @media (max-width: 1440px) {
        left: 50%;
        margin-left: -720px;
      }

      @include mq('tablet') {
        margin-left: -400px;
        width: 800px;
      }
    }
  }
}
