.l-work {
  position: relative;
  padding-top: 150px;

  &__sticky {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }

  .u-subtitle {
    margin: 50px 0 100px;
    font-size: 48px;

  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    &-item {
      display: inline-block;
      margin: 0 10px;
      background-color: $gray;
      cursor: pointer;
      width: 25%;
      height: 10px;

      &.is-active {
        background-color: $blue;
      }
    }
  }

  &__container {
    position: relative;
  }

  &__section {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    max-width: 890px;

    &.is-active {
      position: static;
      visibility: visible;
      opacity: 1;
    }

    &-number {
      text-shadow: $work-number-shadow;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $color-white;
      font-family: Gilroy;
      font-size: 400px;
      font-weight: bold;
    }

    &-text {
      padding: 0 35px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      font-size: 20px;
    }

    &-qoute {
      position: relative;
      margin-top: 20px;
      padding-left: 20px;
      line-height: 1.6;
      letter-spacing: 0.4;
      color: $input-border;
      font-size: 16px;

      &:before {
        position: absolute;
        left: 0;
        border-radius: 15px;
        background-color: $cloud;
        width: 4px;
        height: 100%;
        content: '';
      }
    }
  }

  @include mq('tablet-medium') {
    .u-subtitle {
      margin: 20px 0 40px;
    }

    &__section {

      &-img {
        width: 33%;
      }

      &-text {
        width: 33%;
      }

      &-number {
        width: 33%;
      }
    }
  }

  @include mq('tablet') {
    padding: 60px 0;

    &__sticky {
      min-height: auto;
    }

    &__section {

      &-img {
        width: auto;
      }

      &-text {
        width: auto;
      }

      &-number {
        width: auto;
        font-size: 200px;
      }
    }
  }

  @include mq('phone-large') {
    &__section {
      flex-wrap: wrap;

      &-text {
        padding: 0 15px;
        width: 50%;
      }

      &-number {
        display: none;
      }

      &-img {
        width: 50%;

        img {
          margin: 0 auto;
        }
      }
    }
  }
}
