// ----------------------------
// Site params
// ----------------------------
$default-font-size: 16px;

// ----------------------------
// Container params
// ----------------------------
$container-lg: 1105px;
$container-md: 94%;
$container-sm: 85%;

// ----------------------------
// Colors
// ----------------------------
$color-black: #000;
$color-white: #fff;
$color-grey: #ccc;

$grey: #bdbdbd;
$light-grey: #e0e0e0;
$dark-grey: #828282;
$gray: #f2f2f2;
$blue: #1d62c9;
$green: #20ad65;
$light-violet: #a5b8f3;

$footer: #1f2123;
$light: #e0eafb;
$pl-grey: #f6f6f6;
$bg-blue: #2868c3;
$line-grey: #e0e0e0;
$cloud: #e9f0fc;
$swap: #bedcf4;
$input-border: #a7c2f1;
$option-bg: #4096ee;

$grey-shadow: rgba(149, 149, 149, 0.26);
$btn-shadow: rgba(24, 62, 181, 0.26);
$modal-container: rgba(0, 0, 0, 0.7);
$exchange-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
$submit-shadow: 0 14px 20px rgba(24, 62, 181, 0.26);
$media-card-shadow: 0 30px 40px rgba(105, 105, 105, 0.1);
$select-shadow: 0 4px 10px rgba(105, 105, 105, 0.1);
$work-number-shadow: 0 25px 60px rgba(0, 0, 0, 0.1);

// ----------------------------
// Media Breakpoints
// ----------------------------
$breakpoints: (
  'iphone5': 320px,
  'phone': 400px,
  'phone-medium': 420px,
  'phone-wide': 480px,
  'phablet': 560px,
  'phone-large': 576px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-medium': 992px,
  'tablet-wide': 1024px,
  'desktop': 1200px,
  'desktop-wide': 1440px,
  'desktop-large': 1600px
);

// ----------------------------
// z-index priority
// ----------------------------
$z-indexes: (
  'outdated-browser',
  'modal',
  'site-header',
  'page-wrapper',
  'site-footer'
);
