.u-btn {
  display: block;
  transition: all 0.4s ease;
  border-radius: 50px;
  box-shadow: 0 14px 20px $btn-shadow;
  background-color: $blue;
  cursor: pointer;
  padding: 14px 0;
  max-width: 230px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: $color-white;
  font-family: 'Century Gothic';
  font-size: 18px;
  font-weight: 600;
  user-select: none;

  &:hover {
    box-shadow: none;
  }
}

.u-button {

  &.is-info {
    border-radius: 30px;
    background-color: $light-violet;
    padding: 13px 25px;
    line-height: 100%;
    letter-spacing: 0.15px;
    white-space: nowrap;
    color: $color-white;
    font-size: 14px;
  }
}
