.u-title {
  line-height: 130%;
  color: $color-black;
  font-family: Gilroy;
  font-size: 60px;
  font-weight: bold;

  @include mq('tablet-medium') {
    font-size: 44px;
  }

  @include mq('tablet') {
    font-size: 35px;
  }

  @include mq('phone-large') {
    font-size: 28px;
  }

  @include mq('phone-wide') {
    font-size: 24px;
  }
}

.u-subtitle {
  padding: 20px 0;
  text-align: center;
  line-height: 130%;
  color: $color-black;
  font-family: Gilroy;
  font-size: 40px;
  font-weight: bold;

  @include mq('tablet-medium') {
    font-size: 34px;
  }

  @include mq('tablet') {
    font-size: 26px;
  }

  @include mq('phone-large') {
    font-size: 22px;
  }

  @include mq('phone-wide') {
    font-size: 20px;
  }
}

.c-rowtitle {
  position: relative;
  text-align: center;
  letter-spacing: 0.75px;
  color: $grey;
  font-size: 18px;
  font-weight: bold;

  span {
    position: relative;
    z-index: 1;
    background-color: $pl-grey;
    padding: 0 10px;
  }

  &::before,
  &::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $grey;
    width: 45%;
    height: 1px;
    content: '';
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.u-pretitle {
  margin-bottom: 40px;
  line-height: 135%;
  color: $color-black;
  font-size: 24px;
  font-weight: bold;

  @include mq('phone-large') {
    font-size: 19px;
  }
}

.is-bold {
  font-weight: bold;
}

.is-blue {
  color: $blue;
  font-size: 16px;
}

p,
a,
li,
div,
span {
  font-family: Gilroy;
}


