.c-benefits  {
  margin: 60px auto;
  max-width: 900px;

  &__list {
    @include mq('tablet') {
      text-align: center;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    @include mq('tablet') {
      display: inline-block;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    &:after {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
      background-color: $gray;
      width: 4px;
      height: 100%;
      content: '';

      @include mq('tablet') {
        top: unset;
        right: 15px;
        bottom: 25px;
        left: 15px;
        width: auto;
        height: 4px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      text-align: left;
      color: $line-grey;
      font-weight: bold;
      filter: grayscale(100%);

      &.is-active {
        color: $color-black;
        filter: none;

        img {
          opacity: 1;
        }
      }

      img {
        opacity: 0.4;
      }

      span {
        padding-left: 10px;
      }
    }
  }

  &__content {
    position: relative;
    @include mq('tablet') {
      text-align: center;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-size: 20px;

    &.is-active {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}
