.c-course-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $light-grey;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.75px;
  color: $color-black;
  font-size: 15px;

  &__crypto {
    color: $grey;
  }
}
