.c-exchange {
  transition: all 0.3s ease;
  max-width: 75px;

  &:hover {
    .c-exchange__box {
      filter: grayscale(0%);
    }

    .c-exchange__text {
      color: $dark-grey;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: $exchange-box-shadow;
    background: $color-white;
    cursor: pointer;
    padding: 5px 10px;
    filter: grayscale(100%);
  }

  &__arrow {
    padding: 4px;
  }

  &__text {
    margin-top: 5px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: $grey;
    font-family: Gilroy;
    font-size: 10px;
  }
}
