.c-form {

  &__input {
    margin: 10px 0;
    outline: none;
    border: 1px solid $input-border;
    border-radius: 5px;
    background-color: $color-white;
    padding: 14px 20px;
    width: 100%;
    line-height: 160%;
    letter-spacing: 0.44px;
    color: $input-border;
    font-size: 16px;

    &::placeholder {
      color: $input-border;
    }
  }

  .u-submit {
    display: block;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: $submit-shadow;
    background-color: $blue;
    cursor: pointer;
    padding: 19px 0;
    width: 100%;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: $color-white;
    font-size: 18px;
    font-weight: 600;
  }
}
