.c-info {
  transition: all 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 14px 20px 2px $btn-shadow;
  background-color: $color-white;
  padding: 35px 60px 35px 45px;
  height: 100%;

  &:hover {
    box-shadow: 0 14px 20px 24px $btn-shadow;

    .c-info__title {
      top: -30px;
    }

    .c-info__text {
      top: -30px;
    }
  }

  @include mq('phone-large') {
    padding: 25px;
  }

  &__blocks {
    counter-increment: myCounter;
  }

  &__title {
    display: flex;
    position: relative;
    top: 0;
    align-items: center;
    transition: all 0.3s ease;
    height: 200px;
    font-size: 24px;
    font-weight: 600;

    h3 {
      position: relative;
      z-index: 1;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 0;
      line-height: 115%;
      color: $light;
      font-size: 160px;
      font-weight: 100;
      content: counter(myCounter);
    }

    @include mq('phone-large') {
      height: 100px;

      &:after {
        font-size: 100px;
      }
    }
  }

  &__text {
    position: relative;
    top: 0;
    transition: all 0.3s ease;
    line-height: 150%;
    font-size: 20px;
  }
}
