.c-list {
  padding-left: 20px;
  list-style: decimal;
  list-style-position: outside;

  &__li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-size: 20px;
    font-weight: 500;
  }
}
