.c-list-line {

  &__item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 50px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-size: 20px;

    &:after {
      display: inline-block;
      position: absolute;
      top: 12px;
      left: 0;
      background-color: $blue;
      width: 35px;
      height: 5px;
      content: '';
    }
  }
}
