.c-login-item {
  position: relative;
  padding-right: 13px;

  &:last-child {
    padding-left: 13px;

    &::before {
      position: absolute;
      top: -3px;
      left: -1px;
      background-color: $light-grey;
      width: 2px;
      height: 24px;
      content: '';
    }
  }
}
