.c-media {
  display: flex !important;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: $media-card-shadow;
  background-color: $color-white;
  padding: 20px;
  max-width: 714px;
  min-height: 400px;

  &__left {
    flex-shrink: 0;
    margin-bottom: auto;

    @include mq('tablet-medium') {
      max-width: 50px;
    }
  }

  &__center {
    flex-grow: 1;
    align-self: center;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $color-black;
    font-size: 20px;
    font-style: italic;

    @include mq('tablet-medium') {
      padding: 30px 0;
      font-size: 18px;
    }
  }

  &__right {
    flex-shrink: 0;
    margin-top: auto;
    font-weight: bold;

    @include mq('phablet') {
      text-align: right;
    }
  }

  @include mq('phablet') {
    flex-direction: column;
  }
}
