.c-member {
  margin-bottom: 30px;
  box-shadow: 0 12px 24px $grey-shadow;
  background-color: $color-white;
  padding: 30px;

  &__head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
  }

  &__img {
    position: relative;
    width: 80px;
  }

  &__point {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 1;
    border: 3px solid $light-grey;
    border-radius: 50%;
    background-color: $color-white;
    padding: 8px;
    text-transform: uppercase;
    line-height: 17px;
    color: $dark-grey;
    font-size: 14px;
    font-weight: bold;
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 70%;
  }

  &__name {
    margin-bottom: 15px;
    letter-spacing: 0.44px;
    font-size: 18px;
    font-weight: bold;
  }

  &__func {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: 3px solid $light-grey;
    border-radius: 20px;
    background-color: $color-white;
    cursor: pointer;
    padding: 0 6px;
    min-width: 26px;
    min-height: 26px;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0.25px;
    color: $grey;
    font-size: 12px;
    font-weight: bold;

    &.is-active {
      background-color: $light-grey;
      color: $color-white;
    }
  }

  &__body {
    padding: 15px 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__profit {
    display: flex;
    align-items: center;
    color: $dark-grey;
    font-size: 12px;
    font-weight: 500;

    &-green {
      padding-left: 10px;
      color: $green;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__desc {
    line-height: 200%;
    color: $dark-grey;
    font-size: 12px;

    .is-bold {
      color: $color-black;
      font-size: 14px;
    }
  }
}
