.c-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  &__ul {
    display: flex;
    letter-spacing: 0.75px;
    font-size: 18px;
    font-weight: normal;

    @include mq('tablet-medium') {
      display: none;
    }
  }

  &__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__login {
    margin: 0 90px;
    font-weight: normal;

    @include mq('tablet-medium') {
      display: none;
    }
  }

  &__lang {
    cursor: pointer;
    font-weight: normal;

    @include mq('tablet-medium') {
      margin-right: 15px;
    }
  }

  &__hamburger {

    svg {
      fill: $color-black;
    }
  }
}
