.c-plblock {
  display: block;
  position: relative;

  @include mq('phone-wide') {
    display: flex;
    align-items: center;
    box-shadow: 0 14px 20px $grey-shadow;
    background-color: $color-white;
    padding: 15px;
  }

  &__img {
    position: absolute;
    bottom: -20px;
    z-index: 2;

    @include mq('tablet') {
      max-width: 280px;
    }

    @include mq('phone-large') {
      max-width: 200px;
      // bottom: 0;
    }

    @include mq('phone-wide') {
      position: relative;
      bottom: unset;
      max-width: 140px;
    }
  }

  &:nth-child(even) {
    margin-left: auto;

    .c-plblock__img {
      right: 0;

      @include mq('phone-wide') {
        order: 2;
      }
    }

    .c-plblock__content {
      margin-right: auto;
      @include mq('tablet') {
        padding: 30px 300px 30px 30px;
      }

      @include mq('phone-large') {
        padding: 30px 200px 30px 30px;
      }

      @include mq('phone-wide') {
        order: 1;
        margin-right: 15px;
        padding: 0;
      }
    }

    .c-plblock__text {
      margin-right: auto;
    }

    .c-plblock__link {
      margin-right: auto;
    }
  }

  &:nth-child(odd) {
    margin-right: auto;

    .c-plblock__img {
      left: 0;
    }

    .c-plblock__text {
      margin-left: auto;
    }

    .c-plblock__link {
      margin-left: auto;
    }

    .c-plblock__content {
      margin-left: auto;
      @include mq('tablet') {
        padding: 30px 30px 30px 300px;
      }

      @include mq('phone-large') {
        padding: 30px 30px 30px 200px;
      }

      @include mq('phone-wide') {
        margin-left: 15px;
        padding: 0;
      }
    }
  }

  &__content {
    box-shadow: 0 14px 20px $grey-shadow;
    background-color: $color-white;
    padding: 58px 75px;
    max-width: 600px;

    @include mq('phone-wide') {
      box-shadow: none;
      padding: 0;
    }
  }

  &__text {
    margin-bottom: 25px;
    max-width: 240px;
    line-height: 150%;
    font-size: 20px;

    @include mq('phone-wide') {
      line-height: 120%;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    letter-spacing: 0.75px;
    color: $blue;
    font-weight: bold;
  }
}
