.c-select {
  display: inline-block;
  position: relative;
  margin: 15px 0;
  box-shadow: $select-shadow;
  cursor: pointer;
  line-height: 22px;
  font-family: Gilroy;
  font-size: 14px;

  &__checked {
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 8px 10px;
    width: 190px;
    overflow: hidden;

    img {
      margin-right: 10px;
    }
  }

  &__arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
    background: $color-black;
    width: 2px;
    height: 12px;

    &:before {
      display: block;
      position: absolute;
      right: 5px;
      bottom: -5px;
      transform: rotate(90deg);
      background: $color-black;
      width: 2px;
      height: 12px;
      content: '';
    }
  }

  &__container {
    display: none;
    position: absolute;
    top: 0;
    right: -10px;
    left: -10px;
    z-index: 10;
    border: 1px solid $gray;
    border-radius: 5px;
    box-shadow: $media-card-shadow;
    background: $color-white;
    padding: 20px 0;
    overflow: hidden;

    &.is-active {
      display: block;
    }
  }

  &__search {
    position: relative;
    padding: 8px 20px;

    input {
      outline: none;
      border: 1px solid $light-grey;
      border-radius: 5px;
      padding-left: 35px;
      width: 100%;
      height: 40px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
    }
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    width: 100%;

    img {
      margin-right: 10px;
    }

    &:hover {
      background: $option-bg;
      color: $pl-grey;
    }
  }

  @include mq('phone-large') {

    &__checked {
      width: 100%;
    }
  }
}
