.c-stock-feature {
  border: 1px solid $gray;
  border-radius: 10px;
  box-shadow: $media-card-shadow;
  background-color: $color-white;
  padding: 38px 35px;
  height: 100%;
  box-sizing: border-box;

  @include mq('tablet-small') {
    padding: 18px 15px;
  }

  &__title {
    margin-top: 25px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: $color-black;
    font-size: 20px;
    font-weight: 700;

    @include mq('phone-large') {
      text-align: center;
    }
  }

  &__text {
    margin-top: 10px;
    line-height: 26px;
    color: $color-black;
    font-size: 16px;

    @include mq('phone-large') {
      text-align: center;
    }
  }

  svg {

    @include mq('phone-large') {
      display: block;
      margin: 0 auto;
    }
  }
}
