.c-stock-graphic {
  border: 1px solid $gray;
  border-radius: 5px;
  box-shadow: $media-card-shadow;
  background-color: $color-white;
  box-sizing: border-box;

  &__data {
    border-bottom: 1px solid $light-grey;
    padding: 30px 22px 15px;

    @include mq('tablet-small') {
      padding: 20px 15px 15px;
    }
  }

  &__crypto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

    &-name {
      display: block;
      line-height: 24px;
      color: $color-black;
      font-size: 16px;
      font-weight: 700;
    }

    &-percent {
      display: block;
      line-height: 26px;
      color: $green;
      font-size: 16px;
    }
  }

  &__rate {
    display: flex;

    &-crypto {
      display: block;
      margin-right: 10px;
      line-height: 24px;
      color: $dark-grey;
      font-size: 16px;
      font-weight: 700;
    }

    &-currency {
      display: block;
      line-height: 24px;
      letter-spacing: 0.44px;
      color: $dark-grey;
      font-size: 16px;
    }
  }

  &__sum {
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $dark-grey;
    font-size: 14px;
  }

  &__image {
    padding: 10px;
  }
}
