.c-tab {

  &__navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: auto;

    &:after {
      display: inline-block;
      position: absolute;
      bottom: 0;
      border-radius: 10px;
      background-color: $grey;
      width: 100%;
      height: 6px;
      content: '';
    }
  }

  &__bar {
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background-color: $blue;
    width: 0;
    height: 6px;
  }

  &__navigation-item {
    display: flex;
    position: relative;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
    color: $light-grey;

    &.is-active {
      color: $color-black;

      @include mq('tablet') {

        &:after {
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.3s ease-in-out;
          z-index: 1;
          border-radius: 10px;
          background-color: $blue;
          width: 100%;
          height: 6px;
          content: '';
        }
      }


      .c-tab__photo {
        background-color: $blue;
        filter: grayscale(0%);
      }
    }
  }

  &__photo {
    position: relative;
    transition: all 0.3s ease-in-out;
    margin-bottom: 17px;
    border-radius: 50%;
    background-color: $grey;
    width: 72px;
    height: 72px;
    overflow: hidden;
    filter: grayscale(100%);

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__name {
    line-height: 140%;
    letter-spacing: 0.75px;
    font-size: 18px;
    font-weight: 500;
  }

  &__content {
    position: relative;
    margin-top: 50px;
    margin-bottom: 35px;
    line-height: 24px;
  }

  &__text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;

    &.is-active {
      position: static;
      visibility: visible;
      opacity: 1;
    }

    ol {
      list-style-type: none;
      counter-reset: myCounter;

      li {
        line-height: 26px;

        &:before {
          position: relative;
          padding-right: 8px;
          font-size: 16px;
          font-weight: 600;
          content: counter(myCounter)'.';
          counter-increment: myCounter;
        }
      }
    }

    p {
      font-size: 16px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__ps {
    padding-left: 5px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $grey;
    font-size: 12px;
  }

  &__button {
    text-align: center;

    p {
      line-height: 24px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
