.c-toplink {
  display: flex;
  position: fixed;
  right: 35px;
  bottom: 35px;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0 4px 8px $btn-shadow;
  background-color: $color-white;
  cursor: pointer;
  width: 65px;
  height: 65px;

  &:hover {
    transition: all 0.4s ease;
    box-shadow: none;
  }

  @include mq('tablet') {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
  }

  &__arrow {
    width: 25px;
    height: 35px;
    fill: $dark-grey;

    @include mq('tablet') {
      width: 15px;
      height: 20px;
    }
  }
}
