.c-trading-features-list {
  margin-bottom: 50px;
  padding-left: 43px;

  @include mq('phone') {
    padding-left: 31px;
  }

  li {
    position: relative;
    transition: all 0.5s ease;
    margin-bottom: 25px;
    line-height: 26px;
    color: $grey;
    font-size: 16px;

    &::before {
      position: absolute;
      top: 10px;
      left: -43px;
      transition: all 0.5s ease;
      background-color: $light-grey;
      width: 32px;
      height: 5px;
      content: '';

      @include mq('phone') {
        left: -31px;
        width: 20px;
        height: 4px;
      }
    }

    &:hover {
      color: $color-black;

      &::before {
        background-color: $blue;
      }
    }
  }
}
