// sass-lint:disable no-duplicate-properties

@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/gilroy/Gilroy-Regular.eot');
  src: local('../fonts/gilroy/Gilroy Regular'),
  url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/gilroy/Gilroy-Bold.eot');
  src: local('../fonts/gilroy/Gilroy Bold'),
  url('../fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/gilroy/Gilroy-Medium.eot');
  src: local('../fonts/gilroy/Gilroy Medium'),
  url('../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/gilroy/Gilroy-SemiBold.eot');
  src: local('../fonts/gilroy/Gilroy SemiBold'),
  url('../fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/gilroy/Gilroy-SemiBold.eot');
  src: local('../fonts/gilroy/Gilroy SemiBold'),
  url('../fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/CenturyGhothic/CenturyGothic-Italic.eot');
  src: local('../fonts/CenturyGhothic/Century Gothic Italic'),
  url('../fonts/CenturyGhothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGhothic/CenturyGothic-Italic.woff') format('woff'),
  url('../fonts/CenturyGhothic/CenturyGothic-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/CenturyGhothic/CenturyGothic.eot');
  src: local('../fonts/CenturyGhothic/Century Gothic'),
  url('../fonts/CenturyGhothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGhothic/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGhothic/CenturyGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/CenturyGhothic/CenturyGothic-Bold.eot');
  src: local('../fonts/CenturyGhothic/Century Gothic Bold'),
  url('../fonts/CenturyGhothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGhothic/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGhothic/CenturyGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/CenturyGhothic/CenturyGothic-BoldItalic.eot');
  src: local('../fonts/CenturyGhothic/Century Gothic Bold Italic'),
  url('../fonts/CenturyGhothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGhothic/CenturyGothic-BoldItalic.woff') format('woff'),
  url('../fonts/CenturyGhothic/CenturyGothic-BoldItalic.ttf') format('truetype');
}
